.s-modal {
  position        : fixed;
  top             : 0;
  bottom          : 0;
  left            : 0;
  right           : 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index         : 20;


  &-container {
    position : absolute;
    left     : 50%;
    top      : 50%;
    transform: translate(-50%, -50%);

    background-color: #fff;
    overflow        : hidden;
    padding         : 10px;

    box-shadow:
      2.8px 2.8px 2.2px rgb(255 255 255 / 2%),
      6.7px 6.7px 5.3px rgb(255 255 255 / 3%),
      12.5px 12.5px 10px rgb(252 252 252 / 4%),
      22.3px 22.3px 17.9px rgb(252 252 252 / 4%),
      41.8px 41.8px 33.4px rgb(255 255 255 / 5%), 
      100px 100px 80px rgb(255 255 255 / 7%);


    h2 {
      padding      : 10px 0;
      margin       : 0;
      border       : none;
      border-bottom: 1px solid #ccc;
    }

    &-close {
      position           : absolute;
      top                : 6px;
      right              : 6px;
      box-sizing         : border-box;
      width              : 30px;
      height             : 30px;
      line-height        : 28px;
      font-size          : 20px;
      text-align         : center;
      border-radius      : 50%;
      // background-color: #ccc;
      cursor             : pointer;

      &:hover {
        background-color: #aaa;
        color           : #fff
      }
    }

    &-content {
      margin: 16px 0;
    }

    &-footer {
      display        : flex;
      justify-content: flex-end;
    }
  }


}